@import "fonts";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-select/sass/bootstrap-select.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/regular.scss";
@import "fontawesome/brands.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "bootstrap-icons";
  src:  url("../fonts/bootstrap-icons.woff2") format("woff2"),
        url("../fonts/bootstrap-icons.woff") format("woff");
}

@import "swiper";
@import "styles";

.progress{
    width: 130px;
    height: 130px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 6px;
    border-color: #00AD4A;
    border-style: solid;
    // border-image:
    //   linear-gradient(to right, #00AD4A, #00EE53) 1 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 48px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #00AD4A;
    line-height: 110px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress-desc{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #3C3C3B;
    text-align: center;
}

.counter-title {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #3C3C3B;
  text-align: center;
  padding-bottom: 50px;
}

.subscription-title {
  // padding-bottom: 56px;
  color: #fff;
}

.subscription-text {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

// .dropdown-toggle::after{
//   border: none;
//   font-family: "bootstrap-icons";
//   content:'\f282';
// }
