{% extends "error.html" %}

{%- from "macros/translation.html" import transbag -%}
{%- set _error_header = transbag('404', this.alt, 'page_not_found_header') -%}
{%- set _error_message = transbag('404', this.alt, 'page_not_found_message') -%}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xl-6">
            <div class="error-template">
                <h1> Oops!</h1>
                <h2> {{ _error_header }}</h2>
                <div class="error-details"> {{ _error_message }} </div>
                <div class="error-actions">
                    <a href="{{ '/'|url(alt=this.alt) }}" class="btn-solid-lg">Scipy Latin America 2021 Website</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

