<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Scipy Latin America community board">
    <title>SciPy Latin America 2021 - {% block title %} Bem-vindo!{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/dist/app.css'|asseturl }}">
    <script type=text/javascript src="{{ '/static/webpack/app.js'|asseturl }}" charset="utf-8"></script>
  </head>
<body>
    {% include "section-home.html" %}
    {% include "section-covid.html" %}
    {% include "section-sobre.html" %}
    {% include "section-inscricao.html" %}
  </body>
</html>
