<!-- Services -->
<div id="services">
    <div class="basic-4 bg-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="subscription-title">Você é um bom palestrante?</h1>
                    <h4 class="subscription-text">Contribua com a sua experiência para a SciPy Latin America 2021  clicando no botão abaixo e preenchendo o formulário de apresentação.
    Esperamos você!</h4>
                    <a class="btn-solid-lg" href="#contact">Participe <i class="bi bi-box-arrow-in-up-right"></i></a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
</div> <!-- end of basic-4 -->
