<section id="section-inscricao" class="inscricao-background" style="background-image: url('{{ '/static/img/inscricao.png'|asseturl }}');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body card-inscricao">
                        <div class="row">
                            <div class="col-9">
                            <p class="card-text inscricao-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus, dolore porro et, molestiae aspernatur tenetur neque dicta quo?</p>
                            </div>
                            <div class="col-3">
                            <a href="#" class="btn btn-lg btn-inscricao"> Quero participar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

