<div id="about" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="text-container">
                    <h1 class="header-title-margin">Sobre SciPy Latam</h1>
                    <p>SciPy é uma biblioteca Python utilizada por matemáticos, cientistas e engenheiros, sendo também nome da conferência anual de ciências da computação com Python, que apresenta projetos de diversas áreas com o objetivo de  colaborar com desenvolvimento de códigos  através da troca de experiências.
                    </p><p>A 8ª Edição do SciPy América Latina está sendo organizada por sua comunidade brasileira e será realizada em ambiente 100% virtual nos dias 13 e 14 de novembro. <a href="url">Confira o código de conduta do evento clicando aqui,</a> e te esperamos lá!</p>
                    <h6>Nota da Organização:</h6>
<p><h6>Em decorrência da pandemia do novo coronavírus, a organização responsável pelo evento SciPy Latam 2020 decidiu postergar a edição (que até então seria realizada no Brasil de forma presencial) com o objetivo de traçar uma nova estratégia para oferecer um evento 100% virtual.</h6></p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-6">
<div class="image-container">
                    <img class="header-image" src="{{ "/static/img/details-1.png"|asseturl }}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 1 -->


