<section id="section-rodape">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <nav id="menu-rodape">
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Participar</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
                <p class="rodape-desenvolvido">desenvolvido pela comunidade @scipyla.</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <nav id="menu-rodape" class="d-flex flex-row-reverse">
                    <ul>
                        <li><a href="https://www.facebook.com/scipyla"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/scipyla/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/scipyla/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UClb88lwUvlFikmhTzVGsVGA"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://t.me/scipyla"><i class="fab fa-telegram-plane"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

