<section id="section-covid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="covid-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem natus saepe earum nam quae odio quaerat officia harum reiciendis, sit, dolores repellendus, laudantium praesentium, atque quo assumenda voluptates eligendi eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsa corrupti fugit ea sint nisi doloremque velit voluptas, quo, necessitatibus temporibus asperiores sit, placeat id voluptatem, nemo expedita! Quidem, dolor?</p>
                <p class="covid-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem natus saepe earum nam quae odio quaerat officia harum reiciendis, sit, dolores repellendus, laudantium praesentium, atque quo assumenda voluptates eligendi eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsa corrupti fugit ea sint nisi doloremque velit voluptas, quo, necessitatibus temporibus asperiores sit, placeat id voluptatem, nemo expedita! Quidem, dolor?</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ "/static/img/covid.svg"|asseturl }}" height=298 width=371 class="mx-auto d-block" alt="Covid warning">
            </div>
        </div>
    </div>
</section>
