<section id="section-covid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="covid-text">Em decorrência da pandemia do novo Coronavírus, a organização  responsável pelo evento SciPy Latam 2020 decidiu postergar a edição que até então seria realizada no Brasil, em formato presencial, com o objetivo de traçar uma nova estratégia para oferecer um evento seguro 100% virtual.</p>
                <p class="covid-text">É com grande entusiasmo, que anunciamos a abertura das inscrições para palestrantes do evento SciPy América Latina 2021, acesse nosso formulário e participe!</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{ "/static/img/covid.svg"|asseturl }}" height=298 width=371 class="mx-auto d-block" alt="Covid warning">
            </div>
        </div>
    </div>
</section>
