<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row row-align-center">
            <div class="col-lg-6 col-xl-6">
                <div class="image-container">
                    <img class="header-image" src="{{ "/static/img/header.png"|asseturl }}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-6">
                 <div class="text-container">
                    <h1>8ª Conferência</h1>
                     <h1 class="header-title-margin">SciPy América Latina</h1>
                    <p class="p-large">A 8ª conferência sobre Ciências da Computação com Python da América Latina está chegando e ocorrerá nos dias 13 e 14 de novembro, 100% online e gratuita. <b>As incrições para os palestrantes do evento estão abertas e vão até o dia 30 de agosto!</b> Inscreva-se e participe dessa nova experiência.</p>
                    <a class="btn-solid-lg" href="#introduction">Participe <i class="bi bi-box-arrow-in-up-right"></i></a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->
