<section id="section-sobre">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="{{ "/static/img/sobre.svg"|asseturl }}" height=490 width=461 class="mx-auto d-block" alt="Scipy Latin America Logo">
            </div>
            <div class="col-sm-12 col-md-6">
              <h1 class="scipy-title" style="padding-top: 100px">Sobre a Scipy</h1>
              <p class="scipy-description">SciPy é uma biblioteca Python utilizada por matemáticos, cientistas e engenheiros, sendo também nome da conferência anual de ciências da computação com Python, trazendo projetos de diversas áreas para colaborar com o desenvolvimento de códigos através de profissionais com maior experiência.</p>
              <p class="scipy-description">Dessa forma, a SciPy 2021 América Latina, organizada por sua comunidade brasileira, sedia a 8ª conferência SciPy da América Latina em ambiente 100% virtual a ser realizada em setembro.</p>
            </div>
        </div>
    </div>
</section>

