<!-- Statistics -->
<div class="counter bg-statistics">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Counter -->
                <h1 class="counter-title">Tempo restante até o evento:</h1>

                <div class="counter-container">
                    <div class="counter-cell">
                        <div class="progress">
                            <div id="days" class="progress-value">.</div>
                        </div>
                        <div class="progress-desc">Dias</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div class="progress">
                            <div id="hours" class="progress-value">.</div>
                        </div>
                        <div class="progress-desc">Horas</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div class="progress">
                            <div id="minutes" class="progress-value">.</div>
                        </div>
                        <div class="progress-desc">Minutos</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div class="progress">
                            <div id="seconds" class="progress-value">.</div>
                        </div>
                        <div class="progress-desc">Segundos</div>
                    </div> <!-- end of counter-cell -->
                </div> <!-- end of counter-container -->
                <!-- end of counter -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of statistics -->
