<section id="section-home">
    <div class="container">
        {% include "macros/menu.html" %}
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <img src="{{ "/static/img/scipylatam.svg"|asseturl }}" height=669 width=635 class="mx-auto d-block" alt="Scipy Latin America Logo">
            </div>
            <div class="col-sm-12 col-md-6">
              <h1 class="scipy-title">8ª Conferência</h1>
              <h1 class="scipy-title">Scipy Latin America</h1>
              <p class="scipy-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem natus saepe earum nam quae odio quaerat officia harum reiciendis, sit, dolores repellendus, laudantium praesentium, atque quo assumenda voluptates eligendi eius?</p>
              <a href="#" class="btn btn-lg btn-inscricao"> Quero participar</a>
            </div>
            <div class="col-12">
                <p class="lead text-center">MAIS INFORMAÇÕES</p>
            </div>
        </div>
    </div>
</section>
