<div id="about" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="text-container">
                    <h1 class="header-title-margin">{{ this.about_conference_title }}</h1>
                    {{ this.about_conference_body }}
                    {% set cdc_url = this.attachments.get('codigo-de-conduta-pt.pdf') %}
                    <!-- {{ cdc_url|url(external=True) }} -->
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="image-container">
                    <img class="header-image" src="{{ "/static/img/details-1.png"|asseturl }}" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>
